header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    margin-top: 10px;
    padding: 20px;
    background-color: brown;
    color: antiquewhite;
    border-radius: 10px;
}

body {
    background-color: rgb(197, 197, 197);
}

.avatar {
    max-width: 150px;
    max-height: 150px;
}

.banner {
    max-height: 250px;
}

#caixa-texto {
    font-size: larger;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    border: 3px solid rgb(199, 221, 0);
    border-radius: 15px;
    margin: 10px;
}

.caixa-esconder {
    opacity: 1;
    transition: opacity 1s;
  }
  
  .caixa-esconder.hidden {
    opacity: 0;
  }